@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
    
}
img {
    border-radius: 50%;
    width: 30px;
}
h1 {
    font-weight: 600;
    font-size: 18px;
}
p{
    font-weight: 400;
    font-size: 13px;
}

.box{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.box .main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 13px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
figure{
    display: flex;
    margin: 20px 0 0 30px;
    flex-wrap: wrap;
    width: 200px;
}
figcaption {
    margin-left: 15px;
}
.main .head {
    font-size: 15px;
    font-weight: 600;
    opacity: 75%;
}
.main .side {
    position: relative;
    bottom: 10px;
    margin-left: 45px;
    font-size: 12px;
    font-weight: 400;
    opacity: 70%;
}
h1, p {
    margin:0 auto auto 25px;
}
p {
    opacity: 70%;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4em;
    margin-top: 10px;
}
.Daniel_Clifford {
    background-color: hsl(263, 55%, 52%);
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 450px;
    height: 250px;
    background-image: url("img/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 82%;
    border-radius: 10px;
}
.Daniel_Clifford .head,.Daniel_Clifford .side{
    color: white;
}
.Daniel_Clifford h1 {
    color: white;
    width: 420px;
}
.Daniel_Clifford p {
    color: hsl(0, 0%, 81%);
    width: 420px;
}
.Jonathan_Walters {
    background-color: hsl(217, 19%, 35%);
    grid-column: 3;
    grid-row: 1;
    width: 225px;
    height: 250px;
    border-radius: 10px;
}
.Jonathan_Walters .head, .Jonathan_Walters .side {
    color: white;
}
.Jonathan_Walters h1 {
    color: white;
}
.Jonathan_Walters p {
    width: 160px;
    color: white;
}
.Jeanette_Harmon {
    background-color: hsl(0, 0%, 100%);
    grid-column: 1;
    grid-row: 2;
    width: 212px;
    height: 250px;
    border-radius: 10px;
}
.Jeanette_Harmon .side {
    font-weight: 600;
}
.Jeanette_Harmon h1 {
    width: 150px;
}
.Jeanette_Harmon p {
    margin-top: 10%;
    width: 180px;
}
.Patrick_Abrams {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 463px;
    height: 250px;
    border-radius: 10px;
}
.Patrick_Abrams .head, .Patrick_Abrams .side {
    color: white;
}
.Patrick_Abrams h1 {
    color: white;
    font-size: 18px;
    width: 430px;
}
.Patrick_Abrams p {
    color: white;
    width: 410px;
    margin-top: 5%;
}
.Kira_Whittle {
    background-color: hsl(0, 0%, 100%);
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 225px;
    height: 520px;
    border-radius: 10px;
}
.Kira_Whittle .side {
    font-weight: 600;
}
.Kira_Whittle p {
    width: 160px;
    margin-top: 7%;
}
@media only screen and (max-width: 375px) {
    
}





.attribution { font-size: 11px; text-align: center; margin-top: 50px; }
.attribution a { color: hsl(228, 45%, 44%); }